@font-face {
    font-family: 'GetSchwifty';
    src: url('GetSchwifty-Regular.woff2') format('woff2'),
        url('GetSchwifty-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WubbaLubba';
    src: url('WubbaLubbaDubDubRegular.woff2') format('woff2'),
        url('WubbaLubbaDubDubRegular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

